@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
}
body {
  font-family: 'Inter', sans-serif;
}
